:root {
  --primary-color: #D84040;
  --secondary-color: #A31D1D;
  --light-color: #ECDCBF;
  --background-color: #F8F2DE;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10px 0;
}

.nav-link {
  text-decoration: none;
  color: var(--light-color);
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 5px;
}

.nav-link.active {
  color: white;
  font-size: 1.1em;
}
