:root {
  --font: 'Inter Variable', sans-serif;

  --primary-color: #D84040;
  --secondary-color: #A31D1D;
  --light-color: #ECDCBF;
  --background-color: #F8F2DE;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
}
