:root {
  --font: 'Inter Variable', sans-serif;

  --primary-color: #d84040;
  --secondary-color: #a31d1d;
  --light-color: #ecdcbf;
  --background-color: #f8f2de;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
}
